:root {
  --font-family-primary: 'Manrope', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xxlg: 1.75rem; // 28px
  --font-size-xlg: 1.5rem; // 24px
  --font-size-lg: 1.125rem; // 18px
  --font-size-md: 1rem; // 16px
  --font-size-xsm: 0.875rem; // 14px
  --font-size-xxsm: 0.75rem; // 14px
}




