.checkbox {
  input[type="checkbox"] {
    visibility: hidden;
  }

  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: var(--border-radius-xsm);
  border: 1px solid var(--color-red-45);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: var(--color-text);
  }
}