.authForm {
  max-width: 480px;
  background: var(--second-bg);
  opacity: 0.8;
  border: 1px solid var(--color-gray-15);
  padding: 31px 33px 44px 33px;
  border-radius: var(--border-radius-xlg);
  width: 100%;

  .authFormHeader {

  }

  .authFormHeaderTitle {
    font-size: var(--font-size-xxlg);
    font-weight: var(--font-weight-bold);
  }

  .authFormInputs {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
  }

  .authFormEnter {
    margin-top: 30px;

    span {
      display: flex;
      justify-content: center;
      font-size: var(--font-size-xlg);
      margin-block: 15px;
    }
  }

  .authFormRememberMe {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
  }

  .captchaText {
    display: inline-block;
    margin-top: 18px;
    font-size: var(--font-size-xxsm);
  }

}