.languageSwitcher {
  display: flex;
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius-md);

  button.active {
    color: var(--color-text);
  }

  button {
    color: var(--color-gray-25);


    &:first-child {
      padding: 7px 8px 7px 7px;
      border-right: 1px solid var(--color-text);
    }

    &:last-child {
      padding: 7px 7px 7px 8px;
    }
  }
}
