:root {
  --color-white: #fff;
  --color-black: #000;

  --container-width: 1600px;

  --border-radius-xlg: 14px;
  --border-radius-lg: 12px;
  --border-radius-md: 10px;
  --border-radius-sm: 8px;
  --border-radius-xsm: 6px;

  --media-desktop-size: 1920px;
  --media-laptop-size: 1440px;
  --media-mobile-size: 390px;
}

